<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>

    <add
      name="ConnectionStringSilver"
      connectionString="server=192.168.21.122;database=silver;Uid=silver;Pwd=Admin357/"
      providerName="System.Data.MySqlClient"/>

    <add
      name="Silver.RoboDiscagem.Properties.Settings.CobnetDBConnectionString"
      connectionString="Data Source=192.168.20.168;Initial Catalog=CobnetDB;Persist Security Info=True;User ID=CobnetID;Password=CobID357"
      providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <!--Usar prefixo 'application' para variáveis da aplicação-->
    <add key="application.url.server"               value="http://localhost:26259/"/>
    <add key="application.url.crm"                  value="http://192.168.20.201/Logados/Acionamento/Atendimento/Detalhes_do_Devedor.aspx?CPFCNPJ={0:d15}"/>
    <add key="application.path.logs"                value="C:\Windows\Temp\DiscadorSilver_Logs\"/>
    <add key="application.path.cargas"              value="H:\VSS2\Silver\SVN\Silver.UI.WebForm\Carga\"/>
    <add key="application.path.sip"                 value="C:\Windows\Temp\"/>
    <add key="application.path.queue"               value="C:\Windows\Temp\"/>
    <add key="application.tcpserver.port"           value="30000"/>
    <add key="application.qtd_ligacoes_segundo"     value="300"/>
    <add key="application.qtd_telefone_discagem"    value="10"/>
    
    <!--<add key="application.saida_ligacao"        value="0" /> Stream-->
    <add key="application.saida_ligacao"            value="1" />
    <!-- FileSystem -->
    <add key="application.path.trabalho"            value="C:\Silver\Outgoing\"/>
    <add key="application.path.outgoing"            value="Z:\" />

    <add key="application.asterisk.user"            value="silver"/>
    <add key="application.asterisk.secret"          value="silver"/>
    <add key="application.asterisk.ip"              value="192.168.22.100"/>
    <add key="application.asterisk.porta"           value="20000"/>

    <add key="application.asterisk.logescuta"       value="true"/>
    <add key="application.asterisk.logescuta.path"  value="C:\Temp\LogEscuta.log"/>
    <add key="application.asterisk.logescuta.forcar" value="30000"/>
    <!--se o metodo de escuta não ouvir nada nesse tempo, o metodo e StatusRamal será executado, forçando uma escuta-->

    <add key="application.recovery.threadlistner"   value="true"/>
    <add key="application.checkout"                 value="30000"/>

    <!--Milesegundos-->
    <add key="application.tabelacontrole"           value="30000"/>
    <add key="application.Campanha.Id"		        value="11"/>

    <!--Configurações utilizadas para envio dos arquivos de configuração do Asterisk-->
    <add key="application.ftp.host"     value="192.168.22.100"/>
    <add key="application.ftp.user"     value="ftpsilver"/>
    <add key="application.ftp.password" value="Admin357/"/>
    <add key="application.ftp.port"     value="21"/>

    <!--Usar prefixo 'sip' para valores default do arquivo sip-->
    <add key="sip.udpbindaddr"          value="udpbindaddr=0.0.0.0:5070"/>
    <add key="sip.disallow"             value="disallow=all"/>
    <add key="sip.allow"                value="allow=alaw"/>
    <add key="sip.language"             value="language=pt_BR"/>

    <!--Template protocolo SIP-->
    <add key="template.sip.header"      value="[sip](!)"/>
    <add key="template.sip.type"        value="type=friend"/>
    <add key="template.sip.host"        value="host=dynamic"/>
    <add key="template.sip.call-limit"  value="call-limit=1"/>
    <add key="template.sip.context"     value="context=interno"/>
    <add key="template.sip.qualify"     value="qualify=yes"/>

    <!--Usar prefixo 'queue' para valores default do arquivo queue-->
    <add key="queue.musicclass"         value="musicclass=Aguarde"/>
    <add key="queue.announce"           value="announce=Announcetida"/>
    <add key="queue.strategy"           value="strategy={0}"/>

    <!--Na criação do arquivo, este valor será substituido pelo valor do campo Estrategia que está cadastrado na base-->
    <add key="queue.servicelevel"       value="servicelevel=30"/>
    <add key="queue.timeout"            value="timeout=15"/>
    <add key="queue.retry"              value="retry=0"/>
    <add key="queue.wrapuptime"         value="wrapuptime=15"/>
    <add key="queue.autofill"           value="autofill=yes"/>
    <add key="queue.maxlen"             value="maxlen=0"/>
    <add key="queue.announce-frequency" value="announce-frequency=60"/>
    <add key="queue.announce-holdtime"  value="announce-holdtime=once"/>
    <add key="queue.periodo-announce-fraquency" value="periodo-announce-fraquency=60"/>
    <add key="queue.monitor-Format"     value="monitor-Format=wav 49"/>

    <!--Usar prefixo 'extension' para valores default do arquivo extension-->
    <add key="extension.interno" value="[interno]"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
