.div_poopup
{
    width: 500px;
    min-height: 150px;
    display: none;
    position: absolute;
    margin-top: -15px;
    /*border: 2px solid #9ee9fd;*/
    border: 2px solid #6FBC00;
    background-color: #fff;
    z-index: 9999;
    /*box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.29);*/
     
     /*box-shadow: 20px 20px 11px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 20px 20px 11px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 20px 20px 11px rgba(0, 0, 0, 0.48);*/
    
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.48);
    
    padding: 10px;
}
