<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>

    <!--Configurações da Aplicação-->
    <!--INICIO-->

    <add key="application.path.logs"                    value="C:\Windows\Temp\"/>
    <add key="Application.Paths.Log"                    value="c:\temp\LogSiteDiscadorSilver.Log"/>
    <add key="Application.Paths.Carga"                  value="\\192.168.21.5\SilverCarga\"/>
    <add key="Application.Paths.Temp.Imagens.Fisico"    value="~/Imagens/"/>
    <add key="Application.Paths.Temp.Imagens.Relativo"  value="~/Imagens/Temp"/>
    <add key="Application.Paths.Pages.Relativo"         value="~/Pages"/>
    <add key="Application.Url.Server"                   value="http://192.168.23.164:9999/"/>
    <add key="Application.Path.Gravacao"                value="D:\BackupSilver\"/>

    <!--FIM-->

    <!--INICIO-->
    <add key="Application.Name" value="Codinome Silver"/>
    <add key="Application.Path.Gravacoes.Silver" value="\\192.168.22.100\acesso\"/>
    <add key="Application.Description" value="Slogan"/>
    <add key="Application.Version" value="01.11.04.14"/>
    <add key="Application.Logotipo.Min.Path" value="~/Imagens/Logo48.png"/>
    <add key="Application.Logotipo.Max.Path" value="~/Imagens/Logo.png"/>
    <add key="Application.Copyright" value="© {0} Orcozol Assessoria e Cobranças LTDA"/>
    <!--Informações da Aplicação-->
    <!--FIM-->

    <!--Configurações da Asterisk-->
    <!--INICIO-->

    <add key="application.asterisk.user"            value="discagem"/>
    <add key="application.asterisk.secret"          value="discagem"/>
    <add key="application.asterisk.ip"              value="192.168.22.100"/>
    <add key="application.asterisk.porta"           value="20000"/>

    <!--Fim-->

  </appSettings>
  <connectionStrings>

    <add name="ConnectionStringSilver" connectionString="server=192.168.21.122;database=silver;Uid=silver;Pwd=Admin357/" providerName="System.Data.MySqlClient"/>
    <add name="silverConnectionString" connectionString="server=192.168.21.122;User Id=silver;password=Admin357/;Persist Security Info=True;database=silver" providerName="MySql.Data.MySqlClient"/>

    <!--<add name="ConnectionStringSilver" connectionString="server=localhost;database=silver;Uid=sa;Pwd=Admin357/" providerName="System.Data.MySqlClient"/>
    <add name="silverConnectionString" connectionString="server=localhost;User Id=sa;password=Admin357/;Persist Security Info=True;database=silver" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>

  <system.web>
    <!--<identity impersonate="true" userName=".\Francisco" password="orcozol42" />-->

    <!-- Tempo de Sessão em Minutos: 8horas -->
    <caching>

      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="DefaultCache" enabled="false"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>

    <sessionState timeout="480"/>
    <httpRuntime maxRequestLength="2147483647"/>
    <machineKey validationKey="215613F542CA7634FAA00E2845549D6CEEB118B102744CE46C7F65B0AF5CBA161CEE10AD75935A6DE120E5FD5D98C99F0EC20613968C6FD8F2597FA6815CAA8E" decryptionKey="5EAB9D40AA731B0864613F98126EB556B98CE190CAF2C514F059A8291276C0EA" validation="SHA1" decryption="AES"/>

    <customErrors mode="Off" redirectMode="ResponseRedirect" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/PageNotFound.aspx"/>
    </customErrors>

    <pages theme="Default">
      <controls>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="asp"/>
      </controls>
    </pages>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

  </system.web>
  <!--Forçar compatibilidade com ie 8-->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=EmulateIE7" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>