<?xml version="1.0"?>
<configuration>
	<connectionStrings>

		<add
		  name="ConnectionStringSilver"
		  connectionString="server=192.168.21.122;database=silver;Uid=silver;Pwd=Admin357/"
		  providerName="System.Data.MySqlClient"/>

	</connectionStrings>
	<appSettings>
		<!--Usar prefixo 'application' para variáveis da aplicação-->
		<add key="application.path.logs" value="C:\Windows\Temp\"/>
		<add key="application.url.crm"                  value="http://192.168.20.201/Logados/Acionamento/Atendimento/Detalhes_do_Devedor.aspx?CPFCNPJ={0:d15}"/>

		<add key="application.asterisk.user" value="silver"/>
		<add key="application.asterisk.secret" value="silver"/>
		<add key="application.asterisk.ip" value="192.168.22.100"/>
		<add key="application.asterisk.porta" value="20000"/>

		<add key="application.asterisk.logescuta" value="true"/>
		<add key="application.asterisk.logescuta.path" value="C:\Temp\LogEscuta.log"/>
    <add key="application.server.porta" value="20001"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
