.mensagem-background
{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .90;
    filter: alpha(opacity=80);
}
.mensagem-content
{
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    min-width: 25%;
    min-height: 25%;
    padding: 16px;
    margin-left:-25%;
    margin-top:-25%;
    -webkit-border-radius: 10px;
    border: 5px solid #418aa2;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}
