html, body
{
    padding: 0px;
    left: 0px;
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: Trebuchet MS;
    color: #333333;
}

#content
{
    width: 100%;
    height: 100%;
}

#div-login
{
    width: 501px;
    height: 281px;
    position: absolute;
    margin-left: -250.5px;
    margin-top: -140.5px;
    left: 50%;
    top: 50%;
    background-image: url('../imagens/login.png');
}

#div-login-header
{
    width: 97.8%;
    height: 35px;
    background-color: #054f85;
    color: #fff;
    font-size: 16px;
    line-height: 35px;
    padding: 2px 2px 2px 10px;
}

#div-login-content
{
    width: 100%;
    height: 100%;
    color: #666666;
}

#footer
{
}

.botao-submit
{
    background-image: url('../../Imagens/Login-60.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 60px;
    height: 60px;
    border: none;
    color: White;
    font-weight: bolder;
}

.botao-submit:hover
{
    cursor: pointer;
    background-image: url('../../Imagens/Login-60-2.png');
}

#table-login
{
    width: 100%;
    color: #054F85;
}

#table-login tr td
{
    padding: 1px 1px 1px 32px;
}
